body {
    background-color: #fdf6e3;
}

h1 {
  margin-bottom: 3rem;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: white;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #EEE;
}

div {
    transform: translateZ(0);
    position: relative;
}

.spinner {
    animation: spinner 1s infinite linear;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.alert {
  background: green;
  animation: alert 1s infinite step-end;
}

@keyframes alert {
    0% { background-color: #F00; }
    50% { background-color: #D00; }
}

@keyframes alert__sync {
    0% { background-color: #F00; }
    50% { background-color: #D00; }
}
