{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["ie>=11"]
        }
      }
    ]
  ],
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-umd"
  ]
}
